body{
    background-color: #cddfef;
    direction: rtl;
}
img{
        width: 140px;
    border-radius: 50%;
    height: 140px;
}
#myDate{
        font-size: 26px;
    font-weight: 500;
}
table{
    margin-top: 80px;
    width: 100%;
   text-align: center;
   font-size: 18px;
   font-weight: 500;
    
}
.output{
    padding-top: 130px;
}
.home{
    padding: 0px 0 120px 0;
}

td{
    border: 2px solid #000 !important;
}
th{
    border: 3px solid #000 !important;
}
#netRevenue{
    border: 1px solid #ced4da;
    background-color: #fff;
    padding: 17px;
    border-radius: 0.25rem;
    max-height: 38px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
a{
    text-decoration: none;
}
.receiptButton{
    color: white;
    border-radius: 35px;
    font-size: 23px;
    margin: 50px 0;
    text-align: center;
    text-decoration: none;
}
label{
    margin-bottom: 10px;
}
#total{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}
@media screen and (min-width:1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        max-width: 1200px;
        margin-top: 80px;
    }
}